:root {
	--text-muted: #858585;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	display: grid;
	background: black;
	background: var(--body-color);
	color: var(--text-color);
	font-family: 'Roboto', sans-serif;
}

main {
	width: 100%;
	padding: 1rem;
}

.cl-content {
	overflow-wrap: anywhere;
	border-radius: 0 0 5px 5px;
}

.cl-actionbar {
	border-radius: 5px 5px 0 0;
}

.cl {
	border-radius: 5px;
	width: 300px;
}

.cl-button:focus {
	outline: none;
	box-shadow: 0 0 0 4px #0000002f;
	border-radius: 5px;
}

.cl-content:focus {
	outline: none;
	box-shadow: 0 0 0 4px #0000002f;
}

.container {
	background-color: var(--second-color);
	-webkit-box-shadow: var(--app-shadow);
	-moz-box-shadow: var(--app-shadow);
	box-shadow: var(--app-shadow);

	padding: 1rem;
	border-radius: 5px;
}

.hidden {
	--theme-background: none;
	--theme-background-hover: none;
	--theme-color: #a0a0a0;
	--theme-color-hover: #c5c5c5;
}

.primary {
	--theme-background: #be4343;
	--theme-background-hover: #c25f5f;
	--theme-color: #fff;
	--theme-color-hover: #fff;
}

.secondary {
	--theme-background: #acacac;
	--theme-background-hover: #c4c4c4;
	--theme-color: #000000;
	--theme-color-hover: #000000;
}
