:root {
    --app-shadow: none;
    --body-color: #293035;
    --second-color: #171d20;
    --text-color: #fff;
    --invert: 1;
}

.primary {
	--background: brown;
    --background-hover: rgb(180, 59, 59);
	--color: #fff;
}