:root {
	--app-shadow: none;
	--text-muted: #a1a1a1;
	--main-color: #171d20;
	--body-color: #293035;
	--body-color--hover: #353c41;
	--input-border: 1px solid #131313;
	--text-color: #fff;
	--text-color--hover: #b4b4b4;
	--invert: 1;
}

.control-input {
	--primary-color: var(--main-color);
	--input-text-color: var(--text-color);
	--primary-color--hover: none;
}
