:root {
	--app-shadow: none;
	--body-color: #293035;
	--second-color: #171d20;
	--text-color: #fff;
	--invert: 1;

	--theme-background: #be4343;
	--theme-background-hover: #c25f5f;
	--theme-background-body-hover: #353c41;
	--theme-background-second-hover: #252c30;
	--theme-color: #fff;
	--theme-color-hover: #fff;
}

.simple {
	--theme-background: none;
	--theme-background-hover: none;
	--theme-color: #ffffff;
	--theme-color-hover: #ffffff;
}

.settings {
	--theme-background: none;
	--theme-background-hover: none;
	--theme-color: #be4343;
	--theme-color-hover: #c25f5f;
}