:root {
	--app-shadow: 0px 3px 30px -8px #223c504d;
	--body-color: #fff;
	--second-color: #fff;
	--text-color: #000;
	--invert: 0;

	--theme-background: brown;
	--theme-background-hover: #b43b3b;
	--theme-background-second-hover: #e4e4e4;
	--theme-background-body-hover: #e4e4e4;
	--theme-color: #fff;
	--theme-color-hover: #fff;
}

.simple {
	--theme-background: none;
	--theme-background-hover: none;
	--theme-color: #000;
	--theme-color-hover: #000;
}

.settings {
	--theme-background: none;
	--theme-background-hover: none;
	--theme-color: #a52a2a;
	--theme-color-hover: #b43b3b;
}